{% extends 'weather/_base.html' %}
{% block title %}
    Информация
{% endblock %}
{% block main %}
<div>
    <br>Домашнее задание :)<br>
    Подумать и предложить варианты, как ещё можно усовершенствовать этот проект.<br><br>
    Поскольку предлагать гораздо легче, чем делать, а мы не ищем легких путей, то наш путь - делать, применяя на практике полученные знания.<br><br>
    1. Заменен текст IT OVERONE на соответствующий логотип, с рабочей ссылкой<br><br>
    2. Информация о погоде:<br><br>
    2.1. Слово "город" убрано, вместо этого название города сделано крупнее. Также сделано крупнее изображение погоды.<br><br>
    2.2. Добавлена информация об ощущаемой температуре, скорости ветра, облачности и влажности воздуха.<br><br>
    2.3. Блоки оформлены в виде виджетов, в inline-порядке (вместо "столбика"). Для того, чтобы они имели одинаковую ширину, данные отображаются в таблицах.<br><br>
    2.4. Добавлена возможность удаления города, путем добавления в верхний правый угол таблицы активного элемента ("крестика").<br><br>
    2.5. Добавлена возможность добавления города, путем добавления дополнительного элемента в конец списка городов.<br><br>
    2.6. Для изменения отображения элементов при наведении добавлено использование псевдоклассов.<br><br>
    3. Дизайн исполнен в виде небесно-голубого градиента, так что виджеты смотрятся как "облака".<br><br>
    4. Ссылки Главная страница и Информация сделаны активными.<br><br>
    5. Добавлена боковая панель, отображающая вспомогательную информацию.<br><br>
    6. Шапка сайта сделана недвижимой (не уходит вверх при прокрутке).<br><br>
    7. Добавлен футер (подвал) с отображением некоторой информации.<br><br>
    8. Изменена модель City: тип данных поля 'name' заменено на Slug (т.к.наименования городов только на латинице), и поле установлено как unique = True (не должно быть повторов).<br>
    <br><br><br><br>
    {% load static %}
    <table>
        <tr style="alignment: center"><td>C наилучшими пожеланиями,</td>
            <td><img src="{% static 'weather/img/sign4.png'%}" alt="sign" style="height: 70px; width: 250px; margin-left: 30px;"></td>
            <td>O. W. R i n g</td>
        </tr>
    </table>
</div>
{% endblock %}
{% block aside %}
    В данном разделе вы можете<br>
    ознакомиться с улучшениями, <br>
    произведенными в рамках<br>
    итогового домашнего задания<br>
    по разделу 12. Django.
    "Приложение для прогноза погоды"<br>
{% endblock %}
